[Unit]
Description=URoadHome2+ record

[Service]
Environment="URH2_PASSWORD=<router-password>"
Type=simple
User=<user>
Group=<group>
ExecStart=/path/to/urh2ctl record --datadir /path/to/urh2/db

[Install]
WantedBy=default.target
